MPTRAC_WEB_VERSION=0.1
MPTRAC_PUBLIC_HOSTNAME=
MPTRAC_PORT=443
DATA_HOST_PATH=/path/to/data
MET_ACCESS_PATH=/path/to/data/met_data/
TLS_FULLCHAIN_CERT_PATH=/path/to/fullchain.pem
TLS_PRIVATE_KEY_PATH=/path/to/privatekey.pem
