mptrac_*.tgz
bin/
docs/docs/
docs/html/
docs/latex/
docs/site/
libs/build/
projects/*
projects/benchmarking/data/
projects/benchmarking/logs/
projects/benchmarking/meteo/
projects/benchmarking/reference/
projects/benchmarking/slurm-*
!projects/benchmarking/
projects/example/data/
projects/example/plots/
!projects/example/
projects/kpp/
!projects/python/
projects/python/plots/
projects/python/pythonplots/
src/*.o
src/atm2grid
src/atm_conv
src/atm_dist
src/atm_init
src/atm_select
src/atm_split
src/atm_stat
src/cape
src/day2doy
src/doy2day
src/jsec2time
src/libtrac.o
src/met_conv
src/met_lapse
src/met_map
src/met_prof
src/met_sample
src/met_spec
src/met_subgrid
src/met_zm
src/sedi
src/time2jsec
src/tnat
src/trac
src/tropo
src/tropo_clim
src/tropo_sample
src/tropo_zm
src/wind
src/*.gcno
src/*.gcda
src/*.gcov
src/coverage*
tests/atm_test/data/
tests/compress_test/data/
tests/gpu_test/data/
tests/kpp_test/data/
tests/met_test/data/
tests/tools_test/data/
tests/trac_test/data/
tests/tropo_test/data/
test/interoper_test/data/
test/interoper_test/run_all.sh
test/interoper_test/run_atm.sh
test/interoper_test/run_dia.sh
