<!DOCTYPE html>
<html>
  <head>
    <title>MPTRAC Web Runner</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  </head>
  
  <body style="font-family:monospace; background:#111; color:#ccc; padding:20px;">

    <!-- Header -->
    <div class="w3-container w3-padding-24" style="background: linear-gradient(90deg, #001530, #003366); color: white;">
      <div class="w3-row w3-center w3-padding-16 w3-content" style="max-width:1200px; margin:auto; display: flex; align-items: center; justify-content: center;">  
	<div style="display: flex; align-items: center;">
	  <img src="{{ url_for('static', filename='images/MPTRAC.svg') }}" alt="Logo" style="height:100px; margin-right:20px;">
	  <div style="text-align: left;">
            <h1 style="font-family: monospace; margin:0; font-size:32px;">Massive-Parallel Trajectory Calculations</h1>
            <h4 style="margin-top:6px; font-size:18px; color: #ddd;">Web Runner for Air Parcel Trajectory Calculations</h4>
	  </div>
	</div>
      </div>
    </div>
    
    <div class="w3-container w3-padding-16 w3-center" style="background-color: #1a1a1a; color: white; transition: all 0.3s ease; margin-top: 10px;">
      <div class="w3-row w3-content" style="max-width:1200px; margin:auto;">
	<h2 class="w3-text-red">❌ Server Busy</h2>
      </div>
    </div>

    <br>
    
    <p class="w3-text-light-grey">Too many simulations running. Please try again shortly.</p>
    
    <a href="/" class="w3-button w3-green w3-round-xxlarge w3-margin-top">⤴️ Back to Home</a>
    
    <!-- Footer -->
    <footer class="w3-container w3-center w3-padding-32" style="background-color:#001f4d; color:white; margin-top:40px;">
      <p style="margin: 0;">
	<a href="/terms" class="w3-button w3-small w3-hover-light-blue w3-round-large" style="background: #003366; color: white;">Terms & Conditions</a>
	| <a href="https://www.fz-juelich.de/en/legal-notice" class="w3-button w3-small w3-hover-light-blue w3-round-large" style="background: #003366; color: white;">Legal Notice</a>
	| <a href="https://www.fz-juelich.de/en/privacy-policy" class="w3-button w3-small w3-hover-light-blue w3-round-large" style="background: #003366; color: white;">Privacy Policy</a>
	| <a href="https://www.fz-juelich.de" class="w3-button w3-small w3-hover-light-blue w3-round-large" style="background-color: white; color: #003366; ; padding: 2px 10px;">
	  <img src="/static/images/fzj_logo.png" alt="FZJ Logo" style="height: 26px; padding: 0pt;">
	</a>
      </p>
    </footer>
    
  </body>
</html>
