name: codecov

on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-24.04
    steps:
    - name: fetch
      uses: actions/checkout@v4
    - name: install
      run: sudo apt-get update ; sudo apt-get install gnuplot lcov libgsl-dev libnetcdf-dev libhdf5-dev
    - name: make
      run: cd ./src ; STATIC=0 COV=1 make
    - name: check
      run: cd ./src ; STATIC=0 COV=1 make check
    - name: coverage
      run: cd ./src ; STATIC=0 COV=1 make coverage
    - name: upload
      uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        directory: ./src/
