name: testcase

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: install
      run: sudo apt-get update ; sudo apt-get install wget gnuplot libgsl-dev libnetcdf-dev libhdf5-dev
    - name: make
      run: cd src ; make STATIC 0
    - name: example
      run: cd example ; ./run.sh
